# Server will listen on this port (QUIC)
listen: :{{ hysteria_port }}

# TLS certificate and key (use Let's Encrypt if possible)
tls:
  cert: /etc/hysteria/certs/fullchain.pem
  key: /etc/hysteria/certs/privkey.pem

# Authentication method
auth:
  type: password
  password: {{ hysteria_password}}

# Optional: Masquerade to hide Hysteria behind a normal HTTPS site
masquerade:
  type: proxy
  proxy:
    url: https://www.cloudflare.com
    rewriteHost: true

# Optional: Enable UDP forwarding (VPN-style tunnel)
udp:
  enabled: true

# Optional: Bandwidth limits per client
bandwidth:
  up: {{ bandwidth_up }} mbps     # upload limit per client
  down: {{ bandwidth_up }} mbps   # download limit per client

# Optional: QUIC options
quic:
  maxIdleTimeout: 60s
  keepAlive: true

